.page{ margin: 0 auto; width: 600px;}
h1{ text-align: center;}

.trader-name { text-transform: uppercase;}

.currency-form, .currencies{ text-align: center; margin: 10px 0;}

.currencies .btn{ text-transform: uppercase;}

footer {text-align: center;}
