@import "bootstrap-sprockets";
@import "bootstrap";

$money-green: #216C2A;

body {
  font-family: 'Open Sans', sans-serif;
}

header {
  background: $money-green;
  color: #FFFFFF;
  text-align: center;
  padding: 20px 0;
  margin-bottom: 20px;
}

.currency-form, .currencies {
  text-align: center;
  margin: 10px 0;
}

.currencies {
  .btn {
    text-transform: uppercase;
  }
}

.traders-list {
  font-size: 14px;

  td {
    word-wrap: break-all;
  }
}

footer {
  text-align: center;
}


@media (max-width:440px) {
  header {
    padding: 10px 0;
    margin-bottom: 10px;

    h1 {
      font-size: 30px;
      margin: 5px 0;
    }
  }
}
